openapi: 3.2.0
info:
  title: OFAC Sanctions List Service Sanctions Lists API
  description: The Office of Foreign Assets Control (OFAC) at the U.S. Department of the Treasury publishes the Specially Designated Nationals (SDN) and Consolidated Sanctions lists in machine-readable formats. The Sanctions List Service (SLS) exposes the lists as JSON, XML, and PDF, plus a structured search endpoint for screening individuals and entities against OFAC programs.
  version: '1'
  contact:
    name: OFAC
    url: https://ofac.treasury.gov/contact-ofac
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://sanctionslistservice.ofac.treas.gov/api
  description: OFAC Sanctions List Service
tags:
- name: Sanctions Lists
  description: SDN and Consolidated Sanctions list downloads
paths:
  /lists/sdn:
    get:
      tags:
      - Sanctions Lists
      summary: Download the Specially Designated Nationals (SDN) List
      operationId: getSdnList
      parameters:
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - xml
          - csv
          - pdf
          default: json
      responses:
        '200':
          description: SDN list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SanctionsListResponse'
  /lists/consolidated:
    get:
      tags:
      - Sanctions Lists
      summary: Download the Consolidated Sanctions List
      operationId: getConsolidatedList
      parameters:
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - xml
          - csv
      responses:
        '200':
          description: Consolidated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SanctionsListResponse'
components:
  schemas:
    SanctionedEntity:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - Individual
          - Entity
          - Aircraft
          - Vessel
        programs:
          type: array
          items:
            type: string
        addresses:
          type: array
          items:
            type: object
        akas:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              type:
                type: string
              lastName:
                type: string
              firstName:
                type: string
        ids:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              number:
                type: string
              country:
                type: string
        nationalities:
          type: array
          items:
            type: string
        sanctionsListType:
          type: string
          enum:
          - SDN
          - Consolidated
    SanctionsListResponse:
      type: object
      properties:
        publishDate:
          type: string
          format: date
        results:
          type: array
          items:
            $ref: '#/components/schemas/SanctionedEntity'
externalDocs:
  description: OFAC Sanctions List Service
  url: https://sanctionslistservice.ofac.treas.gov/
