openapi: 3.1.0
info:
  title: OFAC Sanctions List Service API
  description: >-
    The Office of Foreign Assets Control (OFAC) at the U.S. Department of the
    Treasury publishes the Specially Designated Nationals (SDN) and
    Consolidated Sanctions lists in machine-readable formats. The Sanctions
    List Service (SLS) exposes the lists as JSON, XML, and PDF, plus a
    structured search endpoint for screening individuals and entities against
    OFAC programs.
  version: '1'
  contact:
    name: OFAC
    url: https://ofac.treasury.gov/contact-ofac
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
externalDocs:
  description: OFAC Sanctions List Service
  url: https://sanctionslistservice.ofac.treas.gov/
servers:
  - url: https://sanctionslistservice.ofac.treas.gov/api
    description: OFAC Sanctions List Service
tags:
  - name: Sanctions Lists
    description: SDN and Consolidated Sanctions list downloads
  - name: Search
    description: Structured search across the SDN and Consolidated lists
paths:
  /lists/sdn:
    get:
      tags: [Sanctions Lists]
      summary: Download the Specially Designated Nationals (SDN) List
      operationId: getSdnList
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml, csv, pdf]
            default: json
      responses:
        '200':
          description: SDN list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SanctionsListResponse'
  /lists/consolidated:
    get:
      tags: [Sanctions Lists]
      summary: Download the Consolidated Sanctions List
      operationId: getConsolidatedList
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml, csv]
      responses:
        '200':
          description: Consolidated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SanctionsListResponse'
  /search:
    post:
      tags: [Search]
      summary: Structured search of the sanctions lists
      operationId: searchSanctions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
components:
  schemas:
    SanctionsListResponse:
      type: object
      properties:
        publishDate:
          type: string
          format: date
        results:
          type: array
          items:
            $ref: '#/components/schemas/SanctionedEntity'
    SanctionedEntity:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [Individual, Entity, Aircraft, Vessel]
        programs:
          type: array
          items:
            type: string
        addresses:
          type: array
          items:
            type: object
        akas:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              type:
                type: string
              lastName:
                type: string
              firstName:
                type: string
        ids:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              number:
                type: string
              country:
                type: string
        nationalities:
          type: array
          items:
            type: string
        sanctionsListType:
          type: string
          enum: [SDN, Consolidated]
    SearchRequest:
      type: object
      properties:
        source:
          type: array
          items:
            type: string
            enum: [SDN, NS-PLC, FSE-IR, FSE-SY, EO13662, NS-ISA, "561list", PLC-HRIT-EO13818]
        type:
          type: string
          enum: [Individual, Entity, Aircraft, Vessel]
        name:
          type: string
        address:
          type: string
        country:
          type: string
        minScore:
          type: integer
          minimum: 0
          maximum: 100
    SearchResponse:
      type: object
      properties:
        total:
          type: integer
        results:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/SanctionedEntity'
              - type: object
                properties:
                  matchScore:
                    type: number
